<nav class="navbar navbar-expand-sm navbar-dark bg-dark topnav-height">
  <button type="button" id="sidebarCollapse" class="btn btn-info sidebar-toggler-btn" (click)="toggleSidenav()">
    <i class="fas fa-align-justify fa-sm"></i>
  </button>
  <a class="navbar-brand" href="#">Tables</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Link1 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link4</a>
      </li>
    </ul>

    <!-- <button class="btn btn-primary">Shift links right -></!--> -->
  </div>
</nav>


<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar" [ngClass]="open ? '' : 'active'">
    <ul class="list-unstyled components">
      <li class="active">
        <a href="#">Table 1</a>

      <li>
        <a href="#">Table 2</a>
      </li>
      <li>
      <li>
        <a href="#">Table 3</a>
      </li>
      <li>
        <a href="#">Table 4</a>
      </li>
    </ul>
  </nav>
  <div class="table-div table-responsive">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">User id</th>
          <th scope="col">Job Title</th>
          <th scope="col">Name</th>
          <th scope="col">Employee code</th>
          <th scope="col">Region</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let emp of employees">
            <th scope="row"></th>
            <td>@{{ emp.userId }}</td>
            <td>{{ emp.jobTitleName }}</td>
            <td>{{ emp.preferredFullName }}</td>
            <td>{{ emp.employeeCode }}</td>
            <td>{{ emp.region }}</td>
            <td>{{ emp.phoneNumber }}</td>
            <td>{{ emp.emailAddress }}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
